{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


    <main class="main">
        <div class="container mb-30">
            <div class="row flex-row-reverse">
                <div class="col-lg-4-5">
                    <section class="home-slider position-relative mb-30">
                        <div class="home-slide-cover mt-30">
                            <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                                <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/eyecatcher.png' %})">
                                    <div class="slider-content">
                                        <h1 class="display-2 mb-40">
                                            Fullset<br /> computer deals
                                        </h1>
                                        <form class="form-subcriber d-flex">
                                            <input type="email" placeholder="Your emaill address" />
                                            <button class="btn" type="submit">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/brandslider.png' %})">
                                    <div class="slider-content">
                                        <h1 class="display-2 mb-40">
                                            Latest Processors<br /> Big discount
                                        </h1>
                                        <form class="form-subcriber d-flex">
                                            <input type="email" placeholder="Your emaill address" />
                                            <button class="btn" type="submit">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow"></div>
                        </div>
                    </section>
                    <!--End hero-->
                    <section class="product-tabs section-padding position-relative">
                        <div class="section-title style-2">
                            <h3>Popular Tech Products</h3>

                        </div>
                        <!--End nav-tabs-->

                      
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    
                                    {% for p in products %}
                                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'core:product-detail' p.pid %}">
                                                        <img class="default-img" src="{{ p.image.url }}" alt="" style="height: 280px; width: 280px; object-fit: cover;"   />
                                                        <img class="hover-img" src="{{ p.image.url }}" alt=""  style="height: 280px; width: 280px; object-fit: cover;"  />
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    {% if not user.is_superuser %}
                                                        <a aria-label="Add To Wishlist" class="action-btn add-to-wishlist" data-product-item="{{ p.id }}">
                                                            <i class="fi-rs-heart"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">-{{p.get_precentage|floatformat:0}}% Off!</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="shop-grid-right.html">{{ p.category.title }}</a>
                                                </div>
                                                <h2><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h2>
                                                <div class="product-rate-cover">
                                                    <i class="fas fa-star text-warning"></i>
                                                    <span class="font-small ml-5 text-muted"> ({{ p.reviews.all.count }})</span>
                                                </div>
                                                <div>
                                                    <span class="font-small text-muted">By <a href="">{{p.vendor.title}}</a></span>
                                                </div>
                                                <div class="product-card-bottom">
                                                    <div class="product-price">
                                                        <span>₱</span> <span class="current-product-price-{{ p.id }}">{{p.price}}</span>
                                                        <span class="old-price">₱{{p.old_price}}</span>
                                                    </div>
                                                    <div class="add-cart">
                                                        <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">
                                                        <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}">
                                                        <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}">
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}">
                                                        <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;" id="add-to-cart-btn">
                                                            {% if not user.is_superuser %}
                                                                <i class="fi-rs-shopping-cart mr-5"></i>Add Cart
                                                            {% endif %}
                                                        </button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <h5 class="section-title style-1 mb-30">Hi Admin {{ request.user.username }}, Manage the Shop</h5>
                    {% else %}
                        <h5 class="section-title style-1 mb-30">Hi {{ request.user.username }}, Start Your Shopping</h5>
                    {% endif %}
                    {% else %}
                    <h5 class="section-title style-1 mb-30">Hello Guest</h5>
                    {% endif %}
                
                        <div class="sidebar-widget widget-category-2 mb-30">
                            <h5 class="section-title style-1 mb-30">Categories</h5>
                            <ul>
                                {% for c in categories %}

                                <li>
                                    <a href="{% url 'core:category-product-list' c.cid %}"> <img src="{{ c.image.url }}" alt="" />{{c.title}}</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
                        <img src="{% static 'assets/imgs/banner/gpuadd.png' %}" alt="" />
                    </div>
                    <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
                        <img src="{% static 'assets/imgs/banner/add1.png' %}" alt="" />
                    </div>
    </main>
    
    

{% endblock content %}