{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
<script>hljs.initHighlightingOnLoad();</script>
<script src="cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script src="{% static 'assets/js/prism.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/prism.css' %}">

    <main class="main">
        <div class="container mb-30">
            <div class="row">
                <div class="col-xl-11 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="product-detail accordion-detail">
                                <div class="row mb-50 mt-30">
                                    <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                        <div class="detail-gallery">
                                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                            <!-- MAIN SLIDES -->
                                            <div class="product-image-slider">
                                                <figure class="border-radius-10">
                                                    <img src="{{p.image.url}}" alt="product image" />
                                                </figure>
                                                {% for p in p_image %}
                                                <figure class="border-radius-10">
                                                    <img src="{{ p.images.url }}" alt="product image" />
                                                </figure>
                                               {% endfor %}
                                            </div>
                                            <!-- THUMBNAILS -->
                                            <div class="slider-nav-thumbnails">
                                                <div><img style="width: 140px; height: 140px; object-fit: cover;"  src="{{p.image.url}}" alt="product image" /></div>
                                                {% for p in p_image %}
                                                <div><img style="width: 140px; height: 140px; object-fit: cover;" src="{{p.images.url}}" alt="product image" /></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!-- End Gallery -->
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info pr-30 pl-30">
                                            <span class="stock-status out-stock"> -{{p.get_precentage|floatformat:0}}% </span>
                                            <h2 class="title-detail">{{p.title}}</h2>
                                            <div class="product-detail-rating">
                                                <div class="product-rate-cover text-end">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> ({{ reviews.count }}) Reviews</span>
                                                </div>
                                            </div>
                                            <div class="clearfix product-price-cover">
                                                <div class="product-price primary-color float-left">
                                                    <span class="current-price text-brand">₱</span><span class="current-price text-brand current-price current-product-price-{{ p.id }}" id="current-product-price">{{p.price}}</span>
                                                    <span>
                                                        <span class="save-price font-md color3 ml-15">-{{p.get_precentage|floatformat:0}}% Off</span>
                                                    <span class="old-price font-md ml-15">₱{{p.old_price}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="short-desc mb-30">
                                                <p class="font-lg">{{p.description|safe|truncatechars:150}}</p>
                                            </div>
                                            <div class="detail-extralink mb-50">
                                                    {% if not user.is_superuser %} 
                                                    <input type="number" value="1" name="" id="product-quantity" class="w-25 mb-10 product-quantity-{{ p.id }}">
                                                    <br>
                                                    {% endif %}
                                                <div class="product-extra-link2">
                                                        <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}">
                                                        <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}">
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}">

                                                        {% if not user.is_superuser %}
                                                        <button type="submit" class="button button-add-to-cart add-to-cart-btn" data-index="{{ p.id }}" id="add-to-cart-btn">
                                                            {% endif %}
                                                            <i class="fi-rs-shopping-cart"></i>
                                                            {% if not user.is_superuser %}
                                                                Add to Cart
                                                            {% endif %}
                                                        </button>
                                                        
                                                        {% if not user.is_superuser %}
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up add-to-wishlist" data-product-item="{{p.id}}">
                                                                <i class="fi-rs-heart"></i>
                                                            </a>
                                                        {% endif %}      
                                                </div>
                                            </div>
                                            <div class="font-xs">
                                                <ul class="mr-50 float-start">
                                                    <li class="mb-5">Type: <span class="text-brand">{{p.type}}</span></li>
                                                </ul>
                                                <ul class="float-start">
                                                    <li class="mb-5">SKU: <a href="#">{{p.sku}}</a></li>
                                                    {% if p.tags %}
                                                    <li class="mb-5">Tags: {% for tag in p.tags.all %}<a href="{% url 'core:tags' tag.slug %}" rel="tag"> #{{tag.name}}</a>,{% endfor %} </li>
                                                    {% endif %}
                                                    <li>Stock:<span class="in-stock text-brand ml-5">{{p.stock_count}} Items In Stock</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Detail Info -->
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="tab-style3">
                                        <ul class="nav nav-tabs text-uppercase">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Vendor-info-tab" data-bs-toggle="tab" href="#Vendor-info">Vendor</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews ({{ reviews.count }})</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content shop_info_tab entry-main-content">
                                            <div class="tab-pane fade show active" id="Description">
                                                <div class="">
                                                    <p>
                                                        {{p.description|safe}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="Vendor-info">
                                                <div class="vendor-logo d-flex mb-30">
                                                    <img src="{{p.vendor.image.url}}" alt="" />
                                                    <div class="vendor-name ml-15">
                                                        <h6>
                                                            <a href="vendor-details-2.html">{{p.vendor.title}}</a>
                                                        </h6>
                                                        <div class="product-rate-cover text-end">
                                                            <div class="product-rate d-inline-block">
                                                                <div class="product-rating" style="width: 90%"></div>
                                                            </div>
                                                            <span class="font-small ml-5 text-muted"> ({{ reviews.count }}) Reviews</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="contact-infor mb-50">
                                                    <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt="" /><strong>Address: </strong> <span>{{p.vendor.address}}</span></li>
                                                    <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt="" /><strong>Contact Seller:</strong><span>{{p.vendor.contact}}</span></li>
                                                </ul>
                                                <div class="d-flex mb-55">
                                                    <div class="mr-30">
                                                        <p class="text-brand font-xs">Rating</p>
                                                        <h4 class="mb-0">92%</h4>
                                                    </div>
                                                    <div class="mr-30">
                                                        <p class="text-brand font-xs">Ship on time</p>
                                                        <h4 class="mb-0">{{p.vendor.shipping_on_time}}%</h4>
                                                    </div>
                                                    <div>
                                                        <p class="text-brand font-xs">Chat response</p>
                                                        <h4 class="mb-0">{{p.vendor.chat_resp_time}}%</h4>
                                                    </div>
                                                </div>
                                                <p>{{p.vendor.description}}</p>
                                            </div>
                                            <div class="tab-pane fade" id="Reviews">
                                                <!--Comments-->
                                                <div class="comments-area">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <h4 class="mb-30">Customer questions & answers</h4>
                                                            <div class="comment-list">
                                                                {% for r in reviews %}
                                                                <div class="single-comment justify-content-between d-flex mb-30">
                                                                    <div class="user justify-content-between d-flex">
                                                                        <div class="thumb text-center">
                                                                            <img src="{{ r.user.profile.image.url }}" style="width: 100px; height: 100px; object-fit: cover;" alt="" />
                                                                            <a href="#" class="font-heading text-brand">{{r.user.username|title}}</a>
                                                                        </div>

                                                                        <div class="desc">
                                                                            <div class="d-flex justify-content-between mb-10">
                                                                                <div class="d-flex align-items-center">
                                                                                    <span class="font-xs text-muted">{{r.date|date:"d M, Y"}} </span>
                                                                                </div>
                                                                                <div>
                                                                                    {% for star in r.rating|ljust:r.rating %}
                                                                                     <i class="fas fa-star text-warning"></i>
                                                                                    {% endfor %}
                                                                                </div>
                                                                            </div>
                                                                            <p class="mb-10">{{ r.review}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <h4 class="mb-30">Customer reviews</h4>
                                                            <div class="d-fdlex mb-30">
                                                                <!-- <div class="product-rate d-inline-block mr-15"> -->
                                                                    <!-- <div class="product-rating" style="width: 90%"></div> -->
                                                                <!-- </div> -->
                                                                <!-- <div >
                                                                    <p">★☆★☆★☆</p>
                                                                </div>
                                                                <br> -->
                                                                <h6>{{ average_rating.rating|floatformat:1 }} out of 5.0</h6>
                                                            </div>
                                                            <div class="progress">
                                                                <span>5 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>4 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>3 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>2 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                            </div>
                                                            <div class="progress mb-30">
                                                                <span>1 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                            </div>
                                                            <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--comment form-->
                                                {% if request.user.is_authenticated %}
                                                {% if make_review %}
                                                    <div class="comment-form">
                                                        <h4 class="mb-15 add-review">Add a review</h4>
                                                        <strong class="text-success" id="review-res"> </strong>
                                                        <!-- <div class="product-rate d-inline-block mb-30"></div> -->
                                                        <div class="row">
                                                            <div class="col-lg-8 col-md-12">
                                                                <form class="form-contact comment_form hide-comment-form" action="{% url 'core:ajax-add-review' p.id %}" id="commentForm" method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                {{review_form.review}}
                                                                                <!-- <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea> -->
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                {{review_form.rating}}
                                                                                <!-- <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea> -->
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <input class="form-control" name="name" id="name" type="text" placeholder="Name" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <input class="form-control" name="email" id="email" type="email" placeholder="Email" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <input class="form-control" name="website" id="website" type="text" placeholder="Website" />
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <button type="submit" class="button button-contactForm">Submit Review</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-60">
                                    {% if products %}
                                    <div class="col-12">
                                        <h2 class="section-title style-1 mb-30">Related products</h2>
                                    </div>
                                    {% endif %}
                                    <div class="col-12">
                                        <div class="row related-products">
                                            {% for p in products %}
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="{% url 'core:product-detail' p.pid %}">
                                                                <img class="default-img" src="{{ p.image.url }}" alt="" style="height: 280px; width: 280px; object-fit: cover;"   />
                                                                <img class="hover-img" src="{{ p.image.url }}" alt=""  style="height: 280px; width: 280px; object-fit: cover;"  />

                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Add To Wishlist"  class="action-btn add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart"></i></a>
                                                            <!-- <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                                            <a href="{% url 'core:product-detail' p.pid %}" class="action-btn"><i class="fi-rs-eye"></i></a>
                                                        </div>
                                                        <div class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">-{{p.get_precentage|floatformat:0}}%</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="{% url 'core:product-detail' p.pid %}">{{ p.category.title }}</a>
                                                        </div>
                                                        <h2><a href="shop-product-right.html">{{ p.title }}</a></h2>
                                                        <div class="product-rate-cover">
                                                            <i class="fas fa-star text-warning"></i>
                                                            <span class="font-small ml-5 text-muted"> ({{ p.reviews.all.count }})</span>

                                                        </div>
                                                        <div>
                                                            {% if p.vendor %}
                                                            <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.vid %}">{{p.vendor.title}}</a></span>
                                                            {% else %}  
                                                            <span class="font-small text-muted">By <a href="">Destiny Franks</a></span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="product-card-bottom">
                                                            <div class="product-price">
                                                                <span>₱</span> <span class="current-product-price-{{ p.id }}">{{p.price}}</span>
                                                                <span class="old-price">₱{{p.old_price}}</span>
                                                            </div>
                                                            <div class="add-cart">
                                                                <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">
                                                                <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}">
                                                                <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}">
                                                                <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                                <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}">
                                                                <div class="d-flex">
                                                                    <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;" id="add-to-cart-btn"><i class="fi-rs-shopping-cart mr-5"></i>Add</button>
                                                                    <button style="border: none; background: none;" class="add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart" style="fill: aqua;"></i></button>
                                                                </div>
                                                                <!-- <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;" id="add-to-cart-btn"><i class="fi-rs-shopping-cart mr-5"></i>Add</button> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 primary-sidebar sticky-sidebar mt-30">
                            {% if not request.user.is_superuser %}
                                <div class="sidebar-widget widget-delivery mb-30 bg-grey-9 box-shadow-none">
                                    <h5 class="section-title style-3 mb-20">Delivery</h5>
                                    <ul>
                                        <li>
                                            <i class="fi fi-rs-marker mr-10 text-brand"></i>
                                            <span>
                                                {{ address.address }} <br />
                                                <br />
                                                {% if address.status == True  %}
                                                    <span class="text-success">Verified Address </span>
                                                {% else %}
                                                    <span class="text-danger">Unverified Address </span>
                                                {% endif %}
                                            </span>
                                            <a href="{% url 'core:dashboard' %}" class="change float-end">Change</a>
                                        </li>
                                        <li class="hr"><span></span></li>
                                    </ul>
                                    <h5 class="section-title style-3 mb-20">Return & Warranty</h5>
                                    <ul>
                                        <li>
                                            <i class="fi fi-rs-shield-check mr-10 text-brand"></i>
                                            <span> {{p.vendor.authentic_rating}}% Authentic </span>
                                        </li>
                                        <li>
                                            <i class="fi fi-rs-time-forward-ten mr-10 text-brand"></i>
                                            <span> {{p.vendor.days_return}} Days Return </span>
                                        </li>
                                        <li>
                                            <i class="fi fi-rs-diploma mr-10 text-brand"></i>
                                            <span> {{p.vendor.warranty_period}} Months Warranty </span>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="sidebar-widget widget-vendor mb-30 bg-grey-9 box-shadow-none">
                                <h5 class="section-title style-3 mb-20">Vendor</h5>
                                <div class="vendor-logo d-flex mb-30">
                                    <img src="{{p.vendor.image.url}}" alt="" />
                                    <div class="vendor-name ml-15">
                                        <h6>
                                            <a href="vendor-details-2.html">{{p.vendor.title}}</a>
                                        </h6>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> ({{ reviews.count }}) Reviews</span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="contact-infor">
                                    <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt="" /><strong>Address: </strong> <span>{{p.vendor.address}}</span></li>
                                    <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt="" /><strong>Contact Seller:</strong><span>{{p.vendor.contact}}</span></li>
                                    <li class="hr"><span></span></li>
                                </ul>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="text-brand font-xs">Rating</p>
                                        <h4 class="mb-0">92%</h4>
                                    </div>
                                    <div>
                                        <p class="text-brand font-xs">Ship on time</p>
                                        <h4 class="mb-0">{{p.vendor.shipping_on_time}}%</h4>
                                    </div>
                                    <div>
                                        <p class="text-brand font-xs">Chat response</p>
                                        <h4 class="mb-0">{{p.vendor.chat_resp_time}}%</h4>
                                    </div>
                                </div>
                                <ul>
                                    <li class="hr"><span></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
